@import "tailwindcss";

@theme {
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-red: #FF0000;
  --color-gray: #737373;
  --color-gray-middle: #454444;
  --color-gray-light: #555555;
  --color-gray-dark: #2f2f2f;
  --font-bebas: "Bebas Neue", sans-serif;
  --font-inter: "Inter", sans-serif;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .bg-pattern-overlay {
    background-image: url('/images/bg.png');
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    mix-blend-mode: overlay;
  }
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url('/fonts/BebasNeue-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}